@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fonts */
    --font-ibmmono: 'IBM Plex Mono', monospace;

    /* Colors */
    --color-text-base: #EAEDF3;
    --color-fill: #212737;
    --color-border: #AB4B08;
    --color-accent: #FF6B01;
    --color-card: #343F60;

}

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }

    body {
        @apply font-ibmmono font-normal text-base bg-fill text-text-base;
    }

    button {
        @apply cursor-pointer;
    }

    a {
        @apply hover:text-accent
    }
}